<link rel="stylesheet" type="text/css" href="/static/semantic-2.4.min.css">
<br>
<div class="ui container">
    <form class="ui form" action="/movieLists" method="get">
        <div class="five fields">
            <div class="field">
                <input type="text" placeholder="Type movie title" name="search">
            </div>
            <div class="ui field">
                <button class="ui button" type="submit">Search</button>
            </div>
        </div>
    </form>
