<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<br>
<div class="ui container">
    <form class="ui form" action="/movieLists" method="get">
        <label>Search movie:</label><br>
        <div class="five fields">
            <div class="field">
                <input type="text" placeholder="search" name="search">
            </div>
            <div class="ui field">
                <button class="ui button" type="submit">Search</button>
            </div>
        </div>
    </form>
